<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Edit a Prescription</h1>

<form action="updatePrescription" method="post">
    <input type="hidden" name="id" value="10" th:value="${prescription.id}"> <br>
    IdPatient:<input type="text" name="idPatient" th:value="${prescription.idPatient}"><br>
    IdTreatment:<input type="text" name="idTreatment" th:value="${prescription.idTreatment}"><br>
    Type:<input type="text" name="type" th:value="${prescription.type}"><br>
    Comment:<input type="text" name="comment" th:value="${prescription.comment}"><br>
    <input type="submit" />
</form>
<br>
<a href="showPrescriptions"> Back to Prescriptions list </a>

</body>
</html>