<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mentcare application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body bgcolor="#add8e6">
<h1>Hi, Welcome to Mentcare system</h1>
<!--
<a href="patientsList"> Show patient list </a><br>
<a href="treatmentsList"> Show treatment list </a><br>
<a href="showPrescriptions"> Show prescriptions list </a><br>
-->
<form action="patientsList">
    <input type="submit" value="Patients" />
</form>
<br>
<form action="treatmentsList">
    <input type="submit" value="Treatments" />
</form>
<br>
<form action="showPrescriptions">
    <input type="submit" value="Prescriptions" />
</form>
</body>
</html>