<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Create a new Prescription</h1>

<form action="createPrescription" method="post">
    IdPatient:<input type="text" name="idPatient" th:value="${idPatient}" readonly="readonly"><br>
    IdTreatment:<input type="text" name="idTreatment" th:value="${idTreatment}" readonly="readonly"><br>
    Type:<input type="text" name="type"><br>
    Comment:<input type="text" name="comment"><br>
    <input type="submit" />
</form>
<br>
<a href="treatmentsList">Back to All Treatments list</a><br>

</body>
</html>

