<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MVC Web application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Create a new record</h1>

<form action="createPrescription" method="post">
    IdPatient:<input type="text" name="idPatient"><br>
    IdTreatment:<input type="text" name="idTreatment"><br>
    Type:<input type="text" name="type"><br>
    Comment:<input type="text" name="comment"><br>
    <input type="submit" />
</form>

<a href="list"> Show the list </a>

</body>
</html>

