<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Mentcare</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h1>Treatments list</h1>

<table border="5" background-color="blue">
  <thead>
  <tr>
    <th bgcolor="aquared">Id</th>
    <th>Id Patient</th>
    <th>Date</th>
    <th>Type</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each = "treatment: ${treatments}">
    <td th:text = "${treatment.getId()}"> <b>10 </b></td>
    <td th:text = "${treatment.getidPatient()}"> 1 </td>
    <td th:text = "${treatment.getDate()}"> 05/06/1960 </td>
    <td th:text = "${treatment.getType()}">Template</td>
    <td> <a href="createPage?id=10" th:href="@{createPage(idTreatment = ${treatment.getId()})}"> Create prescription</a> </td>

  </tr>
  </tbody>
</table>
<br>
<a href="dailyTreatments">Show today's treatments</a><br>


<a href="home">Back</a>

</body>
</html>